In [1]:
import pandas as pd

In [2]:
pd

In [14]:
auta = pd.read_csv("auto_mpg.csv", sep=";")

In [15]:
auta

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,mpg
0,8,307,130,3504,12,70,1,chevrolet chevelle malibu,18
1,8,350,165,3693,"11,5",70,1,buick skylark 320,15
2,8,318,150,3436,11,70,1,plymouth satellite,18
3,8,304,150,3433,12,70,1,amc rebel sst,16
4,8,302,140,3449,"10,5",70,1,ford torino,17
...,...,...,...,...,...,...,...,...,...
380,4,140,86,2790,"15,6",82,1,ford mustang gl,27
381,4,97,52,2130,"24,6",82,2,vw pickup,44
382,4,135,84,2295,"11,6",82,1,dodge rampage,32
383,4,120,79,2625,"18,6",82,1,ford ranger,28
384,4,119,82,2720,"19,4",82,1,chevy s-10,31

In [16]:
auta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     385 non-null    int64
 1   displacement  385 non-null    object
 2   horsepower    385 non-null    int64
 3   weight        385 non-null    int64
 4   acceleration  385 non-null    object
 5   model_year    385 non-null    int64
 6   origin        385 non-null    object
 7   car_name      385 non-null    object
 8   mpg           385 non-null    object
dtypes: int64(4), object(5)
memory usage: 27.2+ KB

In [17]:
auta.set_index('car_name', inplace=True)

In [18]:
auta

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
car_name,,,,,,,,
chevrolet chevelle malibu,8,307,130,3504,12,70,1,18
buick skylark 320,8,350,165,3693,"11,5",70,1,15
plymouth satellite,8,318,150,3436,11,70,1,18
amc rebel sst,8,304,150,3433,12,70,1,16
ford torino,8,302,140,3449,"10,5",70,1,17
...,...,...,...,...,...,...,...,...
ford mustang gl,4,140,86,2790,"15,6",82,1,27
vw pickup,4,97,52,2130,"24,6",82,2,44
dodge rampage,4,135,84,2295,"11,6",82,1,32
ford ranger,4,120,79,2625,"18,6",82,1,28
chevy s-10,4,119,82,2720,"19,4",82,1,31

In [19]:
for column in auta.columns:
    print(column, " : ", auta[column].unique())
    print('\n')

cylinders  :  [8 4 6 3 5]


displacement  :  ['307' '350' '318' '304' '302' '429' '455' '383' '113' '198' '199' '200'
 '97' '110' '107' '104' '121' '360' '140' '232' '225' '250' '400' '351'
 '258' '122' '116' '79' '88' '71' '72' '91' '97,5' '70' '120' '96' '98'
 '440' '108' '155' '68' '114' '156' '76' '83' '90' '231' '262' '134' '119'
 '171' '115' '101' '305' '85' '130' '168' '111' '260' '151' '146' '80'
 '78' '105' '131' '163' '89' '267' '86' '183' '141' '173' '135' '81' '145'
 '112' '181' '144']


horsepower  :  [130 165 150 140 198 225 170  95  97  85  88  46  87  90 113 215 200 210
 193 100 105 175 153 180 110  72  86  70  76  65  69  60  80  54 208 155
 160 190 112  92 145 137 158 167  94 107 230  49  75  91 122  67  83  78
  52  61  93 148 129  96  71  98 115  53  81  79 120 152 102 108  68  58
 149  89  63  48  66 139 103 125 133 138 135 142  77  62 132  84  64  74
 116  82]


weight  :  [3504 3693 3436 3433 3449 4341 4425 3563 3086 2372 2833 2774 2587 2130
 1835 2672 2430 2375 2234 2648 4615 4376 4382 4732 2264 2228 2634 3439
 3329 3302 3288 4209 4464 4154 4096 4955 4746 5140 2962 2408 3282 3139
 2220 2123 2074 2065 1773 1613 1834 1955 2278 2126 2254 2226 4274 4385
 4135 4129 3672 4633 4502 4456 4422 2330 3892 4098 4294 4077 2933 2511
 2979 2189 2395 2288 2506 2164 2100 4100 3988 4042 3777 4952 4363 4237
 4735 4951 3821 3121 3278 2945 3021 2904 1950 4997 4906 4654 4499 2789
 2279 2401 2379 2124 2310 2472 2265 4082 4278 1867 2158 2582 2868 3399
 2660 2807 3664 3102 2901 3336 2451 1836 2542 3781 3632 3613 4141 4699
 4457 4638 4257 2219 1963 2300 1649 2003 2125 2108 2246 2489 2391 2000
 3264 3459 3432 3158 4668 4440 4498 4657 3907 3897 3730 3785 3039 3221
 3169 2171 2639 2914 2592 2702 2223 2545 2984 1937 3211 2694 2957 2671
 1795 2464 2572 2255 2202 4215 4190 3962 3233 3353 3012 3085 2035 3651
 3574 3645 3193 1825 1990 2155 2565 3150 3940 3270 2930 3820 4380 4055
 3870 3755 2045 1945 3880 4060 4140 4295 3520 3425 3630 3525 4220 4165
 4325 4335 1940 2740 2755 2051 2075 1985 2190 2815 2600 2720 1800 2070
 3365 3735 3570 3535 3155 2965 3430 3210 3380 3070 3620 3410 3445 3205
 4080 2560 2230 2515 2745 2855 2405 2830 3140 2795 2135 3245 2990 2890
 3265 3360 3840 3725 3955 3830 4360 4054 3605 1925 1975 1915 2670 3530
 3900 3190 3420 2200 2150 2020 2595 2700 2556 2144 1968 2120 2019 2678
 2870 3003 3381 2188 2711 2434 2110 2800 2085 2335 2950 3250 1850 2145
 1845 2910 2420 2500 2290 2490 2635 2620 2725 2385 1755 1875 1760 2050
 2215 2380 2210 2350 2615 3230 3160 2900 3415 3060 3465 2605 2640 2575
 2525 2735 2865 1980 2025 1970 2160 2205 1965 1995 3015 2585 2665 2370
 2790 2295 2625]


acceleration  :  ['12' '11,5' '11' '10,5' '10' '15' '15,5' '16' '14,5' '20,5' '17,5' '12,5'
 '14' '13,5' '18,5' '13' '19' '19,5' '18' '17' '23,5' '16,5' '21' '9,5'
 '16,9' '14,9' '17,7' '15,3' '13,9' '12,8' '15,4' '17,6' '22,2' '22,1'
 '14,2' '17,4' '16,2' '17,8' '12,2' '16,4' '13,6' '15,7' '13,2' '21,9'
 '16,7' '12,1' '14,8' '18,6' '16,8' '13,7' '11,1' '11,4' '18,2' '15,8'
 '15,9' '14,1' '21,5' '14,4' '19,4' '19,2' '17,2' '18,7' '15,1' '13,4'
 '11,2' '14,7' '16,6' '17,3' '15,2' '14,3' '20,1' '24,8' '11,3' '12,9'
 '18,8' '18,1' '17,9' '21,7' '23,7' '19,9' '21,8' '13,8' '12,6' '16,1'
 '20,7' '18,3' '20,4' '19,6' '17,1' '15,6' '24,6' '11,6']


model_year  :  [70 71 72 73 74 75 76 77 78 79 80 81 82]


origin  :  ['1' '3' '2' ' ']


mpg  :  ['18' '15' '16' '17' '14' '24' '22' '21' '27' '26' '25' '10' '11' '9' '28'
 '19' '12' '13' '23' '30' '31' '35' '20' '29' '32' '33' '17,5' '15,5'
 '14,5' '22,5' '24,5' '18,5' '29,5' '26,5' '16,5' '31,5' '36' '25,5'
 '33,5' '20,5' '30,5' '21,5' '43,1' '36,1' '32,8' '39,4' '19,9' '19,4'
 '20,2' '19,2' '25,1' '20,6' '20,8' '18,6' '18,1' '17,7' '27,5' '27,2'
 '30,9' '21,1' '23,2' '23,8' '23,9' '20,3' '21,6' '16,2' '19,8' '22,3'
 '17,6' '18,2' '16,9' '31,9' '34,1' '35,7' '27,4' '25,4' '34,2' '34,5'
 '31,8' '37,3' '28,4' '28,8' '26,8' '41,5' '38,1' '32,1' '37,2' '26,4'
 '24,3' '19,1' '34,3' '29,8' '31,3' '37' '32,2' '46,6' '27,9' '40,8'
 '44,3' '43,4' '36,4' '44,6' '33,8' '32,7' '23,7' '32,4' '26,6' '25,8'
 '23,5' '39,1' '39' '35,1' '32,3' '37,7' '34,7' '34,4' '29,9' '33,7'
 '32,9' '31,6' '28,1' '30,7' '24,2' '22,4' '34' '38' '44']

Widzimy Å¼e zmienna "origin" ma pustÄ… zawartoÅ›Ä‡, zobaczmy ile jest rekordÃ³w zawierajÄ…cych pustym pochodzeniem

In [20]:
auta[auta.origin == " "]

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
car_name,,,,,,,,
2.,4,90,48,1985,"21,5",78,,"43,1"
1.,4,98,66,1800,"14,4",78,,"36,1"

Widzimy Å¼e te rkordy nawet nie majÄ… poprawnej nazwy, wiÄ™c usuwamy je ze zbioru.

In [21]:
auta = pd.read_csv("auto_mpg.csv", sep=";", na_values=' ')

In [22]:
auta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     385 non-null    int64
 1   displacement  385 non-null    object
 2   horsepower    385 non-null    int64
 3   weight        385 non-null    int64
 4   acceleration  385 non-null    object
 5   model_year    385 non-null    int64
 6   origin        383 non-null    float64
 7   car_name      385 non-null    object
 8   mpg           385 non-null    object
dtypes: float64(1), int64(4), object(4)
memory usage: 27.2+ KB

In [24]:
auta.isna().any()

cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model_year      False
origin           True
car_name        False
mpg             False
dtype: bool

In [25]:
auta.dropna(how="any", inplace=True)

In [28]:
auta.isna().any()

cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model_year      False
origin          False
car_name        False
mpg             False
dtype: bool

In [30]:
auta[auta.duplicated(keep=False)].sort_values(by='car_name')

Empty DataFrame
Columns: [cylinders, displacement, horsepower, weight, acceleration, model_year, origin, car_name, mpg]
Index: []

<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, 0 to 384
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     383 non-null    int64
 1   displacement  383 non-null    float64
 2   horsepower    383 non-null    int64
 3   weight        383 non-null    int64
 4   acceleration  383 non-null    float64
 5   model_year    383 non-null    int64
 6   origin        383 non-null    float64
 7   car_name      383 non-null    object
 8   mpg           383 non-null    float64
dtypes: float64(4), int64(4), object(1)
memory usage: 29.9+ KB